apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-engine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-engine
  template:
    metadata:
      labels:
        app: ai-engine
    spec:
      containers:
      - name: ai-engine
        image: us-central1-docker.pkg.dev/pac-cafeteria-v1/cafeteria-repo/ai-engine:v2
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"