name: Build and Deploy Auth Service

on:
  push:
    branches:
      - main
    paths:
      - 'services/auth-service/**'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT_KEY }}
  GAR_LOCATION: us-central1
  REPOSITORY: cafeteria-repo
  IMAGE: auth-service
  CLUSTER_NAME: cafeteria-cluster
  CLUSTER_ZONE: us-central1-a

jobs:
  build-push-deploy:
    name: Build, Push, and Deploy
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout 
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Auth 
      - name: Google Auth
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GKE_SA_KEY }}

      # 3. Setup SDK 
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
      
      # 4. Docker Auth
      - name: Docker Auth
        run: |-
          gcloud auth configure-docker ${{ env.GAR_LOCATION }}-docker.pkg.dev

      # 5. Get K8s Creds
      - name: Get GKE Credentials
        uses: google-github-actions/get-gke-credentials@v1
        with:
          cluster_name: ${{ env.CLUSTER_NAME }}
          location: ${{ env.CLUSTER_ZONE }}
      
      # 6. Build
      - name: Build Docker image
        run: |-
          docker build \
            --tag "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }}" \
            ./services/auth-service

      # 7. Push
      - name: Push Docker image
        run: |-
          docker push "${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }}"

      # 8. Deploy
      - name: Deploy to GKE
        run: |-
          kubectl create deployment auth-service \
            --image="${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }}" \
            --dry-run=client -o yaml | kubectl apply -f -

          kubectl expose deployment auth-service \
            --name=auth-service \
            --type=LoadBalancer \
            --port=80 --target-port=8080 \
            --dry-run=client -o yaml | kubectl apply -f -

          kubectl rollout status deployment/auth-service
          kubectl get services auth-service