name: Build and Deploy Identity Service

on:
  push:
    branches:
      - main
    paths:
      - 'services/auth-service/**'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT_ID }}
  GAR_LOCATION: us-central1
  REPOSITORY: cafeteria-repo
  IMAGE: auth-service
  CLUSTER_NAME: cafeteria-cluster
  CLUSTER_ZONE: us-central1-a

jobs:
  build-push-deploy:
    name: Build, Push, and Deploy
    runs-on: ubuntu-latest

  steps:

    # GCP 
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Google Auth
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GKE_SA_KEY }}
    
    - name: Set up Google Cloud credentials
      uses: google-github-actions/setup-gcloud@v1
    
    # Docker
    - name: Docker auth
      run: |-
        gcloud auth configure-docker ${{ env.GAR_LOCATION }}-docker.pkg.dev
      
    - name: Build Docker Image
      run: |-
        docker build -t ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }} \
        ./services/auth-service
    
    - name: Push Docker Image
      run: |-
        docker push ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }} 

      # GKE
    - name: Get GKE credentials
      uses: google-github-actions/get-gke-credentials@v1
      with:
        cluster_name: ${{ env.CLUSTER_NAME }}
        location: ${{ env.CLUSTER_ZONE }}
      
    - name: Deploy to GKE
      run: |-

        kubectl create deployment auth-service \
          --image=${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE }}:${{ github.sha }} \
          --dry-run=client -o yaml | kubectl apply -f -
        
        kubectl expose deployment auth-service \
          --name=auth-service \
          --type=LoadBalancer \
          --port=80 \
          --target-port=8080 \
          --dry-run=client -o yaml | kubectl apply -f -

        kubectl rollout status deployment/auth-service
        kubectl get services auth-service
        
